@media (min-width: 768px){
    .camposBlock{
        width: 40vw;;
    }
    .btnLogin{
        height: 6vh;
        margin-left: 1%;
    }
    .quadrado{
        width: 38vw;
    }
    .campo2{
        height: 53vh;
    }
}


@media (min-width: 1024px){
    .camposBlock{
        width: 30vw;;
    }
    .btnLogin{
        height: 5vh;
        margin-left: 1%;
    }
    .quadrado{
        width: 28vw;
        height: 22vh;
    }
    .campo2{
        height: 44vh;
    }

}
@media (min-width: 1440px){
    .camposBlock{
        width: 23vw;;
    }
    .btnLogin{
        height: 4vh;
        margin-left: 2%;
    }
    .quadrado{
        width: 20vw;
        height: 24vh;
    }
    .campo2{
        bottom:-500px;
        height: 32vh;

    }
}

@media (min-width: 2560px){
    .camposBlock{
        width: 16vw;;
    }
    .btnLogin{
        height: 5vh;
        margin-left: 1%;
    }

}